/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 5%;
  background-color: #D3D3D3;
}
h1,
h2,
h3,
h4 {
  font-size: 2rem;
  color: black;
}
p {
  font-family: 'Dosis', sans-serif;
}
ul {
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
}
.margin {
  margin-top: 3%;
  margin-bottom: 3%;
}
img {
  width: 50%;
  height: 30%;
  padding-left: 3rem;
}
.navigation div.link nav a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: black;
  font-size: 14px;
}
nav {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  padding: 2%;
  margin-left: 60%;
  background-color: #dcdcdc;
}
@media (max-width: 500px) {
  nav nav {
    flex-direction: column;
  }
  nav .lets-team-up {
    display: flex;
    justify-content: center;
  }
}
.main-content {
  background-color: #B0C4DE;
}
.top-section {
  border-bottom: 1px solid black;
  margin-top: 2%;
  padding-left: 3rem;
}
.top-section h1 {
  margin-top: 2%;
  font-size: 30px;
}
.top-section h3 {
  margin-top: 2%;
}
.top-section img {
  margin-top: 2%;
}
.top-section2 {
  padding-left: 3rem;
}
.top-section2 p {
  margin-top: 1%;
  font-size: 16px;
}
.button-parent {
  margin-top: 2%;
}
.lets-team-up {
  background-color: #f4a460;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
.child1 {
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 20%;
  margin-left: 5%;
}
.child1 h2 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.child2 {
  margin-top: 3%;
}
.child2 h2 {
  margin: 2rem 2rem;
  text-align: center;
}
.middle-section {
  display: flex;
}
.bottom-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10%;
  margin-top: 10%;
}
.bottom-section h2 {
  width: 20%;
  margin-left: 40%;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-around;
}
.work {
  margin-bottom: 10%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
  font-size: 14px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.bottom-contact {
  display: flex;
  justify-content: left;
  margin-bottom: 0.5%;
  background-color: #778899;
  justify-content: space-between;
}
.bottom-contact h4 {
  font-size: 12px;
  color: #FFF5EE;
}
.main-footer {
  display: flex;
  justify-content: center;
  background-color: #778899;
}
.center {
  display: flex;
  justify-content: center;
}
.space {
  display: flex;
  justify-content: space-between;
}
